:root {

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-second-100: #ededef;
    --light-second-200: #808080FF;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --white: #fff;

    --blue: rgb(0, 0, 255);
    --ligth-blue: #2675EC;
    --ligth-blue-100: #9cb9e7;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}


.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

html,
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--font-family);
    background-color: var(--bg-body);
}

.calendar {
    background-color: var(--bg-main);
    border-radius: 30px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
}

.calendar-week-day {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.day:hover, .gray {
    background-color: var(--light-hover);
    color: var(--blue);
    cursor: pointer;
    border-radius: 8px;
}

.blue, .blue:hover {
    background-color: var(--ligth-blue);
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

span {
    text-align: center;
    margin: 3px;
    padding: 3px;
}

.margin {
    margin-left: 35%;
}

.noClick {
    pointer-events: none;
    color: var(--light-second);
}

.noClickMonth {
    color: var(--light-second-100);
    pointer-events: none;
    background-color: var(--ligth-blue-100);
}

.noClickYear {
    color: var(--light-second-200);
    pointer-events: none;
    background-color: var(--light-hover);
}


button {
    background-color: white;
    font-weight: bold;
    color: #555555;
    border: none;
}